/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body { height: 100%; }

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 微软雅黑;
}

a {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #585858;
  text-decoration: none;
}

a:hover {
  color: #0773c2;
}


/* logo container */
.logo-container{
  height: 60px;
}
.logo-links{
  float: right;
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}
.logo-title{
  font-size: 26px;
  line-height: 50px;
  vertical-align: middle;
}

.logo-container img {
  height: 50px !important;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }


    }


/*footer**/
footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  min-height: 30px;
  background: #232323;
}

footer h4 {
  margin-top: 20px;
  color: #ccc;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 14px;
}

footer .col p {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 10px;
}

footer .copyright {
  text-align: center;
  color: #FFF;
}

footer hr {
  border: 0;
  border-top: 1px solid #444;
}

/**sider-nav */
.nav-header{
  font-size: 20px;
  padding-bottom: 5px;
}

/* Center align the text within the three columns below the carousel */
.hero-unit h1{
    font-size: 45px;
}
    
.marketing{
  padding-bottom: 30px;
}
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  font-size: 20px;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}