.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.5);
  z-index: -1;
  opacity: 0;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.overlay.is-active {
  opacity: 1;
  z-index: 1000;
}

.popup {
  position: fixed;
  float: left;
  width: 420px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -200px;
  z-index: -1;
  opacity: 0;
  background-color: #dae3e7;
  border-radius: 5px;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.popup.is-active {
  opacity: 1;
  z-index: 1001;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup .popup-i {
  position: relative;
  padding: 15px;
}
.popup .popup__close {
  position: absolute;
  top: -25px;
  right: -30px;
}
.popup .popup__close:hover {
  cursor: pointer;
}
.popup .popup__title {
  color: #c71b31;
  line-height: 1.2;
  margin-top: 0;
}