<footer class="footer">
  <div class="container">
        <div class="row">
            <div class="span4">
              <div class="col">
                    <h4>联系我们</h4>
                    <ul>
                        <li>qq: 408095671</li>
                        <li>Email: <a href="mailto:meitukeji@163.com" title="给我们发邮件">meitukeji@163.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="span3"> 
              <div class="col">
                    <h4>关注我们</h4>
                    <ul>
                        <li>微博: </li>
                        <li>微信: </li>
                    </ul>  
                </div>
            </div>

            <div class="span5">
              <div class="col">
                    <h4>关于我们</h4>
                    <p>
                        魅图科技由一帮专注于地图应用开发的产品经理、开发人员、设计人员、数据工程师组成的创业团队，为政府、企业、商家和公众提供各类专业的基于地图的应用产品和服务，可承接各行业应用的外包项目。 <br>
      我们为政府提供：数字城市、数字城管、网格化社会服务管理等产品和方案。<br>
      我们为企业提供：车队监控管理、资产管理、物流配送、位置智能和地图商业分析等行业解决方案和增值服务。<br>
      我们为商家提供：网点管理、会员管理、销售管理、配送管理等在线服务和产品。
<br>
<br>
     <a href="/about-us" class="">更多</a>
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
          <div class="copyright">
              2014 © 魅图科技版权所有
            </div>
        </div>
    </div>
</footer>
